In [1]:
# Import dependencies 
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

In [2]:
# store the created CSV into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bambous Virieux,MU,2021-11-25 15:45:05,-20.3428,57.7575,79.05,73,40,6.91
1,1,Rikitea,PF,2021-11-25 15:45:05,-23.1203,-134.9692,75.49,77,13,13.20
2,2,Charyshskoye,RU,2021-11-25 15:45:05,51.3978,83.5598,38.46,95,100,14.12
3,3,Punta Arenas,CL,2021-11-25 15:45:06,-53.1500,-70.9167,53.71,50,40,28.77
4,4,Barrow,US,2021-11-25 15:41:58,71.2906,-156.7887,-9.38,77,1,17.27

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use my Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get thhe max temp
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

## Lat vs Max Temp Heatmap

In [6]:
# Assign the locations to and array of lat and long pairs
locations = city_data_df[["Lat", "Lng"]]

# Get max temp
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# call the fig to the plot
fig

Figure(layout=FigureLayout(height='420px'))

## Lat vs Humidity Heat Map

In [7]:
# Assign the locations to and array of lat and long pairs
locations = city_data_df[["Lat", "Lng"]]

# Get humidity
humidity = city_data_df["Humidity"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# call the fig to the plot
fig

Figure(layout=FigureLayout(height='420px'))

## Lat vs Cloudiness Heat Map

In [8]:
# Assign the locations to and array of lat and long pairs
locations = city_data_df[["Lat", "Lng"]]

# Get cloudiness
clouds = city_data_df["Cloudiness"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# call the fig to the plot
fig

Figure(layout=FigureLayout(height='420px'))

## Lat vs Wind Speed Heat Map

In [9]:
# Assign the locations to and array of lat and long pairs
locations = city_data_df[["Lat", "Lng"]]

# Get wind speed
wind_speed = city_data_df["Wind Speed"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# call the fig to the plot
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria (Module 6.5.3)

In [12]:
# Ask the customer to add a min and max temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that meet their criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bambous Virieux,MU,2021-11-25 15:45:05,-20.3428,57.7575,79.05,73,40,6.91
1,1,Rikitea,PF,2021-11-25 15:45:05,-23.1203,-134.9692,75.49,77,13,13.20
6,6,Tautira,PF,2021-11-25 15:45:08,-17.7333,-149.1500,77.02,75,40,15.41
13,13,Praia,CV,2021-11-25 15:45:10,14.9215,-23.5087,84.74,70,75,8.05
15,15,Merauke,ID,2021-11-25 15:45:10,-8.4667,140.3333,81.34,69,100,4.36
21,21,Sao Filipe,CV,2021-11-25 15:45:12,14.8961,-24.4956,78.57,73,100,8.21
30,30,Georgetown,MY,2021-11-25 15:45:15,5.4112,100.3354,78.89,90,40,3.00
31,31,Butaritari,KI,2021-11-25 15:45:15,3.0707,172.7902,82.18,73,51,15.73
36,36,Hilo,US,2021-11-25 15:41:12,19.7297,-155.0900,75.27,92,90,4.61
38,38,Vila Velha,BR,2021-11-25 15:45:17,-20.3297,-40.2925,80.55,67,40,1.99

In [14]:
# check for null values
preferred_cities_df.isnull().sum()
# preferred_cities_df.count() ---- option 2

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

## Map Vacation Criteria (Module 6.5.4)

In [15]:
# Create DataFrame called hotel_df to storee hotel names along with city, country, maxtemp, and coords
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.count()

City          148
Country       148
Max Temp      148
Lat           148
Lng           148
Hotel Name    148
dtype: int64

In [16]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the lat and long
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the lat and long to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term "lodging" and our lat and long
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head()

               City Country  Max Temp      Lat       Lng       Hotel Name
0   Bambous Virieux      MU     79.05 -20.3428   57.7575   Casa Tia Villa
1           Rikitea      PF     75.49 -23.1203 -134.9692  People ThankYou
6           Tautira      PF     77.02 -17.7333 -149.1500     Pension Oaoa
13            Praia      CV     84.74  14.9215  -23.5087    LT Aparthotel
15          Merauke      ID     81.34  -8.4667  140.3333

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add map marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# add layers to map
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))